<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blogFound.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blogFound.image %>">
            <div class="content">
                <p>Posted in: <%= blogFound.created.toDateString() %></p>
            </div>
        </div>
        <div class="description">
            <p><%= blogFound.body %></p>
        </div>
    </div>
        <a class="ui orange basic button" href="/blogs/<%= blogFound._id %>/edit">Edit</a>
        <form id="delete-form" action="/blogs/<%= blogFound._id %>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>

</div>
<% include partials/footer %>
